@import '../../../variables.scss';

.description-editor {
  background: $color-white;
  font-family: inherit;
  width: 100%;

  &-tools {
    display: block;
  }

  &-workspace {
    cursor: text;
    font-size: 1em;
    margin-top: 10px;
  }

  &-html {
    font-family: 'Courier New',monospace;
    height: 6em;
    margin-top: 1em;
    color: #000;
  }

  &-button {
    display: inline-block;
    overflow: hidden;
    border: 0;
    background: $color-red;
    border-radius: 2px;
    margin: 0 0.3em 0 0;
    font-size: 0.8em;
    padding: 4px;
    width: 20px;
    color: $color-white;

    &.italic {
      font-style: italic;
    }

    &.bold {
      font-weight: bold;
    }

    &.toggle-mode {
      width: 120px;
    }
  }

  .DraftEditor-root {
    border-bottom: 2px solid $color-carbon;
    padding: 2px;
  }
}
