@import '../../variables.scss';

.accounts-overview {
  display: flex;
  flex-direction: row;

  .accounts-sum {
    width: 20%;
  }

  .accounts-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    list-style: none;
    padding: 0;
    margin: -4px 0;

    li {
      list-style: none;
      padding: 4px 0;
      margin: 0;
      display: block;
      width: 100%;
    }
  }

  @media screen and (max-width: $breakpoint) {
    flex-direction: column;

    .accounts-sum, .accounts-list {
      width: 100%;
    }
  }
}
