@import '../variables.scss';

.form-group {
  overflow: auto;
  display: flex;
  flex-direction: row;
  padding: 0.4em;

  &-label {
    display: flex;
    width: 30%;
    padding: 0.3em;
    padding-top: 0.4em;
  }

  &-field {
    display: flex;
    width: 70%;
    padding: 0.3em;
  }

  @media screen and (max-width: $breakpoint) {
    flex-direction: column;

    &-label, &-field {
      width: 100%;
    }
  }
}
